@media (max-width: 1440px) and (min-width: 1281px) {
  .lang-mon {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 12vw;
  }
}
@media (max-width: 1280px) and (min-width: 1120px) {

    /***** Navigation Bar *****/
    .checkbtn {
        display: block;
    }
    nav {
        padding: 20px 40px;
        z-index: 10;
    }
    ul {
      z-index: 2;
        position:absolute;
        width: 100%;
        height: 0;
        background: #FFFFFF;
        border-bottom: 4px solid #D90429;
        top: 80px;
        /* padding: 40px 0; */
        opacity: 0;
        left: 0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        padding: 8px 0;
    }
    nav ul li a {
        font-size: 16px;
        color: #2B2D42;
        opacity: 0;
    }
    a:hover, a.active {
        color: #D90429;
    } 
    .lang {
        margin-top: 32px;
    }
    .lang-mon {
        border-right: 1px solid #F2F4F7;
        margin-left: 0;
    }
    .lang-eng {
        border-left: 1px solid #F2F4F7;
    }
    #check:checked ~ ul {
        top: 80px;
        left: 0;
        opacity: 100%;
        height: 400px;
        padding: 40px 0;
    }
    #check:checked ~ ul > li a {
      font-size: 16px;
      color: #2B2D42;
      opacity: 100%;
  }
  
    a:hover, a.active {
      color: #D90429 !important;
   } 

    /***** Main *****/
    section {
        padding: 60px 40px 80px 40px;
      }
      .section-container {
        width: auto;
      }

    /***** Hero Section *****/
    .hero-section {
        height: 300px;
    }
    .img-container img {
        width: 340px;
        height: 160px;
        margin: 20px auto;
    }
    .text-large {
        font-size: 16px;
  line-height: 24px;
    }
    .text-medium {
        font-size: 14px;
  line-height: 20px;
    }
    h2 {
        font-size: 28px;
        line-height: 42px;
      }

    /***** About Section *****/
    .title-container {
        margin-bottom: 60px;
      }
      .about-content-container {
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .about-content-left {
        width: calc(50vw - 380px);
        gap: 80px;
      }
      .about-content-right {
        width: calc(50vw + 380px);
      }
      .about-content-right p {
        line-height: 2;
      }
      .text-box {
        gap: 12px;
      }

    /***** Service Section *****/
    .service-text-container {
        margin: 0 auto 60px auto;
        width: 920px;
        text-align: center;
      }
      .service-text-container p {
        line-height: 28px;
      }
      .service-cards-container {
        margin: 0 auto;
        width: 1040px;
        gap: 40px;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
      }
    .service-card {
        padding: 40px;
        width: 320px;
        height: 380px;
    }
    .service-card img {
      width: 240px;
      height: 240px;
    }

    /***** Team Section *****/
    .profile-container {
        margin: 0 auto;
    }
    .profile-text p{
        width: 760px;
        line-height: 1.8;
    }

    /***** Footer Section *****/
    .contact-container {
        padding: 40px;
      }
  }
@media (max-width: 1119px) and (min-width: 768px) {

    /***** Navigation Bar *****/
    
    .checkbtn {
      display: block;
  }
  nav {
      padding: 20px 40px;
      z-index: 10;
  }
  ul {
    z-index: 2;
      position:absolute;
      width: 100%;
      height: 0;
      background: #FFFFFF;
      border-bottom: 4px solid #D90429;
      top: 80px;
      /* padding: 40px 0; */
      opacity: 0;
      left: 0;
      text-align: center;
      transition: all .35s;
  }
  nav ul li {
      display: block;
      padding: 8px 0;
  }
  nav ul li a {
      font-size: 16px;
      color: #2B2D42;
      opacity: 0;
  }
  a:hover, a.active {
      color: #D90429;
  } 
  .lang {
      margin-top: 32px;
  }
  .lang-mon {
      border-right: 1px solid #F2F4F7;
      margin-left: 0;
  }
  .lang-eng {
      border-left: 1px solid #F2F4F7;
  }
  #check:checked ~ ul {
      top: 80px;
      left: 0;
      opacity: 100%;
      height: 400px;
      padding: 40px 0;
  }
  #check:checked ~ ul > li a {
    font-size: 16px;
    color: #2B2D42;
    opacity: 100%;
}

  a:hover, a.active {
    color: #D90429 !important;
 } 

    /***** Main *****/
    section {
        padding: 40px 40px 60px 40px;
      }
      .section-container {
        width: auto;
      }

    /***** Hero Section *****/
    .hero-section {
        height: 280px;
    }
    .img-container img {
        width: 255px;
        height: 120px;
        margin: 40px auto;
    }
    .text-large {
        font-size: 16px;
  line-height: 24px;
    }
    .text-medium {
        font-size: 14px;
  line-height: 20px;
    }
    h2 {
        font-size: 28px;
        line-height: 42px;
      }

    /***** About Section *****/
    .title-container {
        margin-bottom: 40px;
      }
      .about-content-container {
        /* flex-direction: column; */
        width: auto;
        gap: 0px;
      }
      .about-content-left {
        width: calc(20vw - 180px);
      }
      .about-content-right {
        width: calc(80vw - 180px);
        text-align: center;
      }
      .about-content-right p {
        line-height: 1.8;
      }
      .text-box {
        gap: 12px;
      }

    /***** Service Section *****/
    .service-text-container {
        margin: 0 auto 60px auto;
        width: calc(100vw - 120px);
        text-align: center;
      }
      .service-text-container p {
        line-height: 28px;
      }
      .service-cards-container {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
      }
    .service-card {
        padding: 40px;
        width: 320px;
        height: 380px;
        gap: 16px;
    }
    .service-card img {
      width: 240px;
      height: 240px;
    }

    /***** Team Section *****/
    .project-section {
      /* width: calc(100vw - 80px); */
    }
    .profile-container {
        margin: 0 auto;
    }
    .profile-content {
        width: 50vw;
    }
    .profile-text p{
        width: 50vw;
        line-height: 1.8;
    }
    /***** Project Section *****/
    .project-cards-container {
      flex-wrap: wrap;
      gap: 20px;
    }
    /***** Footer Section *****/
    .contact-container {
        padding: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
        gap: 40px;
    }
    .contact-section {
        flex-direction: column;
    }
    .map-container {
        width: 100%;
    }
    .contact-row {
        gap: 60px;
    }
    .contact-column {
        width: 280px;
      }
  }
@media (max-width: 767px) and (min-width: 576px) {

    /***** Navigation Bar *****/
    .checkbtn {
      display: block;
  }
  nav {
      padding: 20px 40px;
      z-index: 10;
  }
  ul {
    z-index: 2;
      position:absolute;
      width: 100%;
      height: 0;
      background: #FFFFFF;
      border-bottom: 4px solid #D90429;
      top: 80px;
      /* padding: 40px 0; */
      opacity: 0;
      left: 0;
      text-align: center;
      transition: all .5s;
  }
  nav ul li {
      display: block;
      padding: 8px 0;
  }
  nav ul li a {
      font-size: 16px;
      color: #2B2D42;
      opacity: 0;
  }
  a:hover, a.active {
      color: #D90429;
  } 
  .lang {
      margin-top: 32px;
  }
  .lang-mon {
      border-right: 1px solid #F2F4F7;
      margin-left: 0;
  }
  .lang-eng {
      border-left: 1px solid #F2F4F7;
  }
  #check:checked ~ ul {
      top: 80px;
      left: 0;
      opacity: 100%;
      height: 400px;
      padding: 40px 0;
  }
  #check:checked ~ ul > li a {
    font-size: 16px;
    color: #2B2D42;
    opacity: 100%;
}

  a:hover, a.active {
    color: #D90429 !important;
 } 

    /***** Main *****/
    section {
        padding: 40px 40px 60px 40px;
      }
      .section-container {
        width: auto;
      }

    /***** Hero Section *****/
    .hero-section {
        height: 240px;
    }
    .img-container img {
        width: 255px;
        height: 120px;
        margin: 24px auto;
    }
    .text-large {
        font-size: 16px;
  line-height: 24px;
    }
    .text-medium {
        font-size: 14px;
  line-height: 20px;
    }
    h1 {
        font-size: 28px;
        line-height: 42px;
      }

    /***** About Section *****/
    .title-container {
        margin-bottom: 40px;
      }
      .about-content-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
      .about-content-left {
        width: 540px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
      }
      .about-content-right {
        width: calc(100vw - 120px);
        text-align: center;
      }
      .about-content-right p {
        line-height: 1.8rem;
      }
      .text-box {
        gap: 12px;
      }

    /***** Service Section *****/
    .service-text-container {
        margin: 0 auto 60px auto;
        width: calc(100vw - 120px);
        text-align: center;
      }
      .service-text-container p {
        line-height: 28px;
      }
      .service-cards-container {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
      }
    .service-card {
        padding: 40px;
        width: 320px;
        height: 380px;
        gap: 16px;
    }
    .service-card img {
      width: 240px;
      height: 240px;
    }

    /***** Team Section *****/
    .profile-image img {
      width: calc(50vw - 100px);
      }
    .profile-title h3 {
        font-size: 16px;
        line-height: 24px;
    }
    .profile-container {
        margin: 0 auto;
        gap: 40px;
    }
    .profile-content {
        width: 50vw;
    }
    .profile-text p{
        width: calc(50vw - 0px);
        line-height: 1.8;
    }
    /***** Team Section *****/
    .project-cards-container {
      flex-direction: column;
      gap: 30px;
    }

    /***** Footer Section *****/
    .contact-container {
        padding: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
        gap: 40px;
    }
    .contact-section {
        flex-direction: column;
    }
    .map-container {
        width: 100%;
    }
    .contact-row {
        gap: 60px;
    }
    .contact-column {
        width: 270px;
      }
      .contact-place-column {
        order: 1;
      }
      .contact-info-column {
        order: 2;
      }
  }
@media (max-width: 575px) {

    /***** Navigation Bar *****/
    .checkbtn {
      display: block;
  }
  nav {
      padding: 20px 40px;
      height: 72px;
      z-index: 10;
  }
  ul {
    z-index: 2;
      position:absolute;
      width: 100%;
      height: 0;
      background: #FFFFFF;
      border-bottom: 4px solid #D90429;
      top: 72px;
      /* padding: 40px 0; */
      opacity: 0;
      left: 0;
      text-align: center;
      transition: all .5s;
  }
  nav ul li {
      display: block;
      padding: 8px 0;
  }
  nav ul li a {
      font-size: 16px;
      color: #2B2D42;
      opacity: 0;
  }
  a:hover, a.active {
      color: #D90429;
  } 
  .lang {
      margin-top: 32px;
  }
  .lang-mon {
      border-right: 1px solid #F2F4F7;
      margin-left: 0;
  }
  .lang-eng {
      border-left: 1px solid #F2F4F7;
  }
  #check:checked ~ ul {
      top: 72px;
      left: 0;
      opacity: 100%;
      height: 400px;
      padding: 40px 0;
  }
  #check:checked ~ ul > li a {
    font-size: 16px;
    color: #2B2D42;
    opacity: 100%;
}

  a:hover, a.active {
    color: #D90429 !important;
 } 
    /***** Main *****/
    section {
        padding: 40px 20px 40px 20px;
      }
      .section-container {
        width: auto;
      }
      .title-small {
        font-size: 12px;
  line-height: 18px;
    }
    .text-large {
        font-size: 16px;
  line-height: 24px;
    }
    .text-medium {
        font-size: 14px;
  line-height: 20px;
    }
    h1 {
        font-size: 20px;
        line-height: 30px;
    }

    /***** Hero Section *****/
    .hero-section {
        height: 240px;
    }
    .img-container {
        display: flex;
        height: 80px;
      }
    .img-container img {
        width: 215px;
        height: 100px;
        margin: 30px auto;
    }

    /***** About Section *****/
    .title-container {
        margin-bottom: 40px;
      }
      .about-content-container {
        flex-direction: column;
        gap: 40px;
      }
      .about-content-left {
        width: 320px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
      }
      .about-content-right {
        width: calc(100vw - 40px);
        text-align:justify;
      }
      .about-content-right p {
        line-height: 1.8;
      }
      .text-box {
        gap: 12px;
      }

    /***** Service Section *****/
    .service-text-container {
        margin: 0 auto 60px auto;
        width: calc(100vw - 40px);
        text-align: justify;
      }
      .service-text-container p {
        line-height: 28px;
      }
      .service-cards-container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
    .service-card {
        padding: 40px;
        width: 320px;
        height: 380px;
        gap: 16px;
    }
    .service-card img {
      width: 240px;
      height: 240px;
    }

    /***** Team Section *****/
    .profile-image img {
        width: 320px;
      }
    .profile-title h3 {
        font-size: 24px;
        line-height: 36px;
    }
    .profile-title {
        text-align: center;
    }
    .align-right {
        align-items: center;
      }
    .profile-container {
        margin: 0 auto;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .profile-container-second {
        flex-direction: column-reverse;
    } */
    .profile-content {
        width: calc(100vw - 40px);
        
    }
    .profile-text p{
        width: calc(100vw - 40px);
        text-align: justify;
    }
    
    /***** Projects Section *****/
    .project-cards-container {
      flex-direction: column;
      gap: 20px;
    }
    .project-card {
      padding: 30px;
      width: 320px;
    }

    /***** Footer Section *****/
    .contact-container {
        padding: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .contact-section {
        flex-direction: column;
    }
    .map-container {
        width: 100%;
    }
    .contact-row {
        flex-direction: column;
        gap: 8px;
    }
    .contact-column {
        width: 280px;
      }
      .contact-place-column {
        order: 1;
      }
      .contact-info-column {
        order: 2;
      }
      .footer-text{
        padding: 0 30px;
      }
      .footer-text p {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        /* width: 280px; */
      }
  }