/***** Main *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
  
}
html {
  overflow-x: hidden;
}
section {
  padding: 80px 0 120px 0;
}
.section-container {
  width: 1120px;
  margin: auto;
}
.bg-color-white {
  background-color: #FFFFFF;
}
.bg-color-gray-light {
  background-color: #F8F9FB;
}
.bg-color-red {
  background-color: #C80B2C;
}
.bg-color-red-dark {
  background-color: #B40A28;
}
.color-black {
  color: #2B2D42 !important;
}
.color-gray-dark {
  color: #80818E !important;
}
.color-gray {
  color: #F2F4F7 !important;
}
.color-gray-light {
  color: #F8F9FB !important;
}
.color-white {
  color: #Ffffff !important;
}
.color-red-light {
  color: #E99DAB !important;
}
.color-primary {
  color: #EF233C !important;
}
.color-primary-dark {
  color: #C80B2C !important;
}
h1 {
  font-size: 80px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: #2B2D42;
}
h2 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #2B2D42;
}
h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #2B2D42;
}
.title-small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #EF233C;
}
.text-extra-small {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
.text-small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
.text-medium {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
  color: #2B2D42;
}
.text-large {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: none;
  color: #2B2D42;
}
.font-weight-500 {
  font-weight: 500 !important;
}
b {
  font-weight: 600;
  color: #2B2D42;
}
span {
  font-weight: 600;
  color: #EF233C;
}
.line-height-30px {
  line-height: 30px !important;
}
.line-height-26px {
  line-height: 26px !important;
}
.line-height-24px {
  line-height: 24px !important;
}
:active {

}

/***** Navigation Bar *****/
nav {
  z-index: 10;
  /* position: fixed; */
  background: #C80B2C;
  height: 80px;
  width: 100%;
  padding: 20px 160px;
  
}
.logo {
  /* width: 36%; */
}
.logo img {
  width: 240px;
  height: 40px;
}
nav ul {
  /* width: 64%; */
  /* display: flex; */
  float: right;
  z-index: 2;
}
nav ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0 8px;
}
nav ul li a {
  color: #F4CED5;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
a.active, a:hover, a:active {
  color: white;
  font-weight: 600;
  transition: 0.5s;
}
.lang {
  margin-top: 0;
}
.lang a{
  padding: 0 12px;
}
.lang-mon {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 16vw;
}
.lang-eng {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.checkbtn {
  font-size: 28px;
  color: #FFFFFF;
  float: right;
  line-height: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/***** Hero Section *****/
.hero-section {
  z-index: 1;
  height: 400px;
  width: 100%;
  background-image: url(../images/background_blur.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.img-container {
  display: flex;
  height: 30vh;
}
.img-container img {
  width: 340px;
  height: 160px;
  margin: 40px auto;
}

/***** About Section *****/
.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;
}
.about-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.about-content-left {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-content-right {
  width: 750px;
}
.fancy-text-box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.fancy-text-box-content {
  display: flex;
  gap: 24px;
  align-items: center
}
.fancy-text-box-title {
  display: flex;
  align-items: center;
  gap: 24px;
}
.fancy-text-box-title p {
  font-size: 24px !important;
  line-height: 32px !important;
  color: rgba(43, 45, 66, 0.5) !important;
  text-align:center;
}
.bracket-left,
.bracket-right {
  width: 40px;
  height: 160px;
  border-top: 10px solid #F2F4F7;
  border-bottom: 10px solid #F2F4F7;
}
.bracket-left {
  border-left: 10px solid #F2F4F7;
}
.bracket-right {
  border-right: 10px solid #F2F4F7;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-medium {
  text-align: justify;
  text-justify: auto;
}

/***** Service Section *****/
.service-text-container {
  margin-bottom: 80px;
}
.service-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-card {
  padding: 0px 30px;
  width: 250px;
  height: 300px;
  border-bottom: 4px #EF233C solid;
  box-shadow: 0 4px 10px rgba(141, 153, 174, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.crad-title img {
  max-width: 190px;
  width: 190px;
}
.card-title h3 {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.service-card-divider {
  padding-bottom:12px;
  border-bottom: 1px solid #F2F4F7;
}
/* .divider {
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F4F7;
} */
.service-card p {
  margin-top: 6px;
}
.service-card p a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: 0.5s;
}
.service-card p a:hover{
  color: #EF233C !important;
  font-weight: 500;
  gap: 12px;
}

/***** Team Section *****/
.team-profile-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.profile-container {
  display: flex;
  gap: 40px;
  align-items: center;
}
.profile-image img {
  display: block;
  width: 320px;
  transform: scaleX(-1);
  border-bottom: 4px solid #EF233C;
}
.profile-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-title p {
  font-size: 16px;
  line-height: 24px;
}
.profile-text {
  margin-top: 20px;
}
.profile-text p{
  margin-bottom: 16px;
}
.align-right {
  align-items: flex-end;
}

.text-align-right {
  text-align: justify;
  text-justify: right;
}
.text-align-right {
  text-align: right;
}

/***** Project Section *****/
.project-text-container {
  margin-bottom: 80px;
}
.project-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.project-card {
  padding: 40px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: .5s;
  background: #Ffffff;
  box-shadow: 0 4px 10px rgba(141, 153, 174, 0.1);
  border-bottom: 4px #EF233C solid;
}
.project-card:hover {
  background: #Ffffff;
  box-shadow: 0 4px 10px rgba(141, 153, 174, 0.1);
  border-bottom: 4px #EF233C solid;
}
.rounded-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(43, 45, 66, 0.3);
  /* box-shadow: 0 4px 10px rgba(141, 153, 174, 0.1); */
  font-size: 40px;
  font-weight: 900;
  /* width: 130px;
  height: 130px;
  border-radius: 50% !important; */
  /* background: #FFFFFF; */
  transition: .5s ease-in-out;
}
/* .project-card:hover .rounded-circle{
  color: #FFFFFF;
  background: #EF233C;
} */
.card-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-title h3 {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.project-card-divider {
  padding-bottom:12px;
  border-bottom: 1px solid #F2F4F7;
  display: none;
}
/* .divider {
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F4F7;
} */
/* .project-card p {
  margin-top: 40px;
  margin-bottom: 40px;
} */
.project-card-text {
  /* display: none; */
  text-align: justify;
}
.project-card p a {
  display: flex;
  gap: 8px;
  text-decoration: none;
  transition: 0.5s;
}
.project-card p a:hover{
  color: #EF233C !important;
  font-weight: 500;
  gap: 12px;
}

/***** Footer Section *****/
.footer-section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.map-container{
  width: 50%;
  height: 320px;
}
.map-container iframe{
  width: 100%;
  height: 100%;
}
.map-container img {
  width: 100%;
}
.contact-section {
  display: flex;
  border: 4px solid #C80B2C;
}
.contact-container {
  padding: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.contact-row {
  display: flex;
  gap: 40px;
}
.contact-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}
.contact-column i {
  font-size: 14px;
  line-height: 20px;
  color: #E99DAB;
}
.contact-icon {
  display: flex;
  gap: 12px;
  align-items:center;
}
.contact-place {
  display: flex;
  gap: 12px;
  align-items: flex-start !important;
}
.footer-text{
  display: flex;
  height: 60px;
  width: 100%;
}
.footer-text p {
  margin: auto;
  color: #FFFFFF;
}
